<div class="projects-list">
    {% for item in site.data.projects %}
    <div class="project-card">
        <h4 class="project-title">
            {% if item.link %}
            <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
            {% else %}
            {{ item.title }}
            {% endif %}
        </h4>
        <p class="project-description">{{ item.abstract }}</p>
        {% if item.tags %}
        <div class="project-tags">
            {% assign tag_list = item.tags | split: ", " %}
            {% for tag in tag_list %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
